<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/libs/jquery-3.6.0.js"></script>
    <link href="/libs/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/desenvolvedores.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>Ossain | Bulbassaur Group</title>
    <link rel="shortcut icon" type="image/png" href="" />
</head>

<body>
    <div class="container-fluid">
        <!-- Inicio da navbar -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div id="navbar" class="container">
                <a href="/views/index.html"><img id="imgNav" src="/public/assets/ossainGroup-black.png" alt=""
                        style="height:200px; width:200px;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-black" href="/views/documentation.html">Documentação</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="/views/questions.html">Contato</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="/views/desenvolvedores.html">Desenvolvedores</a>
                        </li>
                        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Fim da navbar -->

        <!-- Inicio da section principal -->
        <section class="SectionPrincipal">
            <div class="container">
                <div class="row">
                    <!-- Column para bolhas e gif plantas -->
                    <div id="plantas" class="col-6">
                        <div class="bolha1"></div>
                        <img class="imgteste" src="/public/assets/plantas.gif" alt="">
                    </div>
                    <!-- Column para texto principal da página -->
                    <div id="texto" class="col-6">
                        <h2>Meet our <span style="color:#58c0ab; font-weight:500; font-size: 30px;">dev</span>elopers
                        </h2>
                        <p>In this session, you will get to know our developers and the role of each one within our
                            project.</p>
                    </div>
                </div>
            </div>

        </section>
        <!-- Fim da section principal -->

        <!-- Inicio da section secundaria para cards -->
        <section class="section">

            <div class="swiper mySwiper container">
                <div class="swiper-wrapper content">

                    <!-- Inicio de syntax para criação de card -->
                    <div class="swiper-slide card w-0" style="width: 0px;">
                        <div class="card-content">
                            <div class="image">
                                <img src="/public/assets/seila.jpg" alt="">
                            </div>

                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>

                            <div class="name-profession">
                                <span class="name">Gabriel França</span>
                                <span class="profession">FrontEnd Developer</span>
                            </div>

                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>

                            <div class="button">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>
                    <!-- Fim de syntax de criação de card || Usar o mesmo aos cards abaixo -->

                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="/public/assets/tanjiro.jpg" alt="">
                            </div>

                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>

                            <div class="name-profession">
                                <span class="name">Gabriel Francisco</span>
                                <span class="profession">FrontEnd Developer</span>
                            </div>

                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>

                            <div class="button">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="/public/assets/vini.jpg" alt="">
                            </div>

                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>

                            <div class="name-profession">
                                <span class="name">Vinicius Henques</span>
                                <span class="profession">Fullstack Developer</span>
                            </div>

                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>

                            <div class="button">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="/public/assets/marcos.jpg" alt="">
                            </div>

                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>

                            <div class="name-profession">
                                <span class="name">Marcos Araújo</span>
                                <span class="profession">Suporte de desenvolvimento</span>
                            </div>

                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>

                            <div class="button">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="/public/assets/vicky.jpg" alt="">
                            </div>

                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>

                            <div class="name-profession">
                                <span class="name">Victória Caroline</span>
                                <span class="profession">Documentadora de Sistemas</span>
                            </div>

                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>

                            <div class="button">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="/public/assets/fadakimetsu.jpg" alt="">
                            </div>

                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>

                            <div class="name-profession">
                                <span class="name">Bruno Reis</span>
                                <span class="profession">DataBase Developer</span>
                            </div>

                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>

                            <div class="button">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- <div class="swiper-pagination"></div> -->
        </section>
        <!-- Fim da section secundaria de cards -->

        <!-- Inicio da section final -->
        <section class="sectionfinal">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- Column para inserção de logo e texto sobre o grupo de desenvolvedores (Bulbassaur) -->
                    <div id="logotipo" class="col-6">
                        <img id="devlogo" src="/public/assets/bulbassaurGroup.png">
                    </div>
                    <!-- <div class="col-7">
                        <p id="pfinal">O nosso grupo de desenvolvedores, junto ao aplicativo, surgiu como um trabalho de
                            conclusão de curso, seguindo os ods 14 e 15, com o intuito de desenvolver uma aplicação para
                            amenizar os efeitos do ser humano no planeta.</p>
                    </div> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Fim da section final -->

        <!-- Inserção se script para funcionamento de card -->
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="https://kit.fontawesome.com/ffe2ed3f2f.js"></script>
        <script src="/libs/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>

        <script src="/js/desenvolvedoresResponsivity.js"></script>

        <!-- Script Javascript para funcinamento dos cards -->
        <script>
            var swiper = new Swiper(".mySwiper", {
                slidesPerView: 3,
                spaceBetween: 30,
                slidesPerGroup: 3,
                loop: true,
                loopFillGroupWithBlank: true,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
        </script>
        <!-- Fim do script func cards -->
    </div>
</body>

</html>