<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/libs/jquery-3.6.0.js"></script>
    <link href="/libs/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/index.css" rel="stylesheet">
    <title>Portal | Safra</title>
    <link rel="shortcut icon" type="image/png" href="/public/assets/safra.png" />
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container">
                <img id="imgNav" src="/public/assets/ossainGroup-black.png" alt="" style="height:200px; width:200px;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active text-black" aria-current="page" href="#">Documentação</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="#">Contato</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="#">Desenvolvedores</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="SectionPrincipal">
            <div class="container">
                <div class="row justify-content-lg-between">
                    <div class="col-6">
                        <h2 class="title">Know our application</h2>
                        <h2>Application <span style="color: #58c0ab;">Environmentalism</span></h2>
                        <p style="color:#2d2d2d ;">Ossain, developed by the BulbassaurGroup developer group, through a
                            mobile application, aims to help, through posts and denouncements, mitigate the human
                            effects on planet earth, in addition to showing current information on the planet.
                        </p>
                        <button type="button" class="btn btn-primary">Learn More</button>
                    </div>
                    <div class="col-3">
                        <img src="/public/assets/mockup.png" alt="" style="width:250px;">
                    </div>
                </div>
            </div>
        </section>
        <script src="/js/index.js"></script>
        <script src="https://kit.fontawesome.com/ffe2ed3f2f.js"></script>
        <script src="/libs/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
    </div>
</body>

</html>